 *{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}
.main-dashboard{
    display:flex;
    height:100vh;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.contenedor{
    min-width:100%;
}
.widget{
    border-radius: 5px;
    padding:1rem;
    height: 100%;
    min-width: 300px;
}


.widget--clima{
    flex-direction: column;
    justify-content: center;
    background-color:#DDDDDD;
    color:black;
    align-items: center;
}
.widget--ideas{
    text-decoration: none;

}